body {
  background-image: url(673916.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: wheat;
}

h1 {
  color:firebrick;
  text-align: center;
}

.button{
  background-color: gainsboro;
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}